header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 12rem;
}

header .banner {
  z-index: -1;
  position: absolute;
  top: 0;

  height: 7rem;
  width: 100%;

  background-color: #1A282D;
  border-radius: 1rem;
}

header img {
  height: 8.5rem;
  margin-left: 2rem;

  border-radius: 100%;
  outline: .5rem solid var(--cor-body);
}

header h1 {
  display: inline;

  margin: 0;
  margin-left: 1rem;

  font-size: 3rem;
}