:root {
  font-size: 62.5%;
  font-family: 'Reddit Sans';
  --cor-body: #0B1416
}

body {
  margin: 0;
  padding: 1rem;
  background-color: var(--cor-body);

  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}